@import "_reset";

@import "_settings";
@import "components/_heading";
@import "components/_button";
@import "components/_nav";
@import "components/_content";
@import "components/_footer";
@import "components/_form";
@import "components/_article-item";

.main-header {
  text-align: center;
  background-color: $color-white;

  .heading {
    color: $color-primary;
    margin-bottom: 0;
  }

  .heading--subheading {
    margin-bottom: $spacing-default;
  }

  a {
    text-decoration: none;
  }
}

.container {
  padding: $spacing-default;
}

.section-title {
  text-align: center;
  font-size: $font-size-huge;
}